.joinContainer {
	width: 200px;
	height: 60px;
	background-color: #3b82f6;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 30px;
	right: 30px;
	box-shadow: 1px 2px 10px black;
}
.joinText {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}
@media (max-width: 900px) {
	.joinContainer {
		width: 100px;
		height: 30px;
		bottom: 15px;
		right: 15px;
	}
	.joinText {
		font-size: 0.75rem;
	}
}
